img {
	image-rendering: pixelated;
	margin: 10px;
    padding: 10px;
    width: 30px;
	height: 50px;
	border: 1px solid #cccccc;
}

.nn-images-data img.selected,
.nn-images-data img:hover {
	border: 3px solid #4286f4;
	margin: 8px;
	cursor: pointer;
}

.no-display {
	display: none;
}
